@layer base {
  :root {
    /*Fonts*/
    --headings: "Outfit", sans-serif;
    --main: "IBM Plex Mono", monospace;

    /*colors*/
    --black: #26282b;
    --grey: #353941;
    --dark-blue: #5f85db;
    --light-blue: #90b8f8;
    --white: #e8e8e8;
    --logo: #fef9d9;

    /*Type scale*/
    --base-size: 1.2rem;
    --scale: 1.2;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --small: calc(var(--base-size) / var(--scale));

    /* Font weight*/
    --thin: 100;
    --extralight: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --bolder: 900;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: var(--main);
    font-weight: var(--regular);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headings);
  }

  h1 {
    font-size: var(--h1);
    font-weight: var(--bolder);
    color: var(--light-blue);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: var(--h2);
    font-weight: var(--bold);
    color: var(--white);
  }

  h3 {
    font-size: var(--h3);
    font-weight: var(--semibold);
  }

  h4 {
    font-size: var(--h4);
    font-weight: var(--semibold);
  }

  h5 {
    font-size: var(--h5);
    font-weight: var(--semibold);
  }

  h6 {
    font-size: var(--h6);
    font-weight: var(--regular);
  }

  p {
    font-size: var(--base-size);
    font-weight: var(--regular);
  }

  abbr {
    text-decoration: none;
  }
}

@layer intro {
  .intro > .container {
    background-image: linear-gradient(
      111.4deg,
      rgba(7, 7, 9, 1) 6.5%,
      rgba(27, 24, 113, 1) 93.2%
    );
    /* background-image: radial-gradient(
      circle 976px at 51.2% 51%,
      rgba(11, 27, 103, 1) 0%,
      rgba(16, 66, 157, 1) 0%,
      rgba(11, 27, 103, 1) 17.3%,
      rgba(11, 27, 103, 1) 58.8%,
      rgba(11, 27, 103, 1) 71.4%,
      rgba(16, 66, 157, 1) 100.2%,
      rgba(187, 187, 187, 1) 100.2%
    ); */
    background-repeat: no-repeat;
    padding: 2rem 4rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  nav > ul > li {
    list-style: none;
  }

  nav > ul > li > a {
    text-decoration: none;
    color: var(--light-blue);
    font-weight: var(--bold);
    font-size: var(--h6);
  }

  nav > ul > li > a:hover {
    color: var(--white);
  }

  .logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .logo > svg {
    width: 2.5rem;
    fill: var(--logo);
    margin-right: 1rem;
  }
  .intro > .container > p {
    color: var(--white);
    padding-top: 2rem;
  }
}

@layer projects {
  .projects > .container {
    padding: 2rem 4rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  .projects > .container > p {
    margin-top: 1.5rem;
  }
}

@layer stack {
  .stack > .container {
    padding: 2rem 4rem;
    max-width: 90rem;
    margin: 0 auto;
    background-image: linear-gradient(
      111.4deg,
      rgba(7, 7, 9, 1) 6.5%,
      rgba(27, 24, 113, 1) 93.2%
    );
    background-repeat: no-repeat;
    color: var(--white);
  }

  .stack > .container > p {
    margin-top: 1.5rem;
  }

  .stack-grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .stack-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    border: 1px solid var(--light-blue);
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
  }

  .stack-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}

@layer resources {
  .resources > .container {
    padding: 2rem 4rem;
    max-width: 90rem;
    margin: 0 auto;
  }

  .resources > .container > p {
    margin-top: 1.5rem;
  }
}

@layer contact {
  .contact > .container {
    padding: 2rem 4rem;
    max-width: 90rem;
    margin: 0 auto;
    background-image: linear-gradient(
      111.4deg,
      rgba(7, 7, 9, 1) 6.5%,
      rgba(27, 24, 113, 1) 93.2%
    );
    background-repeat: no-repeat;
  }

  .contact > .container > h3 {
    color: var(--white);
  }
  .contact > .container > form {
    padding-top: 1rem;
    width: 40%;
  }

  .contact > .container > form > label {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    color: var(--light-blue);
  }

  .contact > .container > form > input {
    display: block;
    padding: 0.2rem 0.5rem;
    width: 100%;
    font-family: var(--main);
  }

  .contact > .container > form > select {
    display: block;
    padding: 0.2rem 0.5rem;
    width: 100%;
    font-family: var(--main);
  }

  .contact > .container > form > textarea {
    display: block;
    padding: 0.5rem 0.5rem;
    width: 100%;
    font-family: var(--main);
  }

  .contact > .container > form > button {
    display: block;
    padding: 0.2rem 0.5rem;
    width: 30%;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: var(--bold);
    font-size: var(--h6);
    font-family: var(--main);
    border-radius: 0.1rem;
    border: none;
  }

  .contact > .container > form > button:hover {
    background-color: var(--black);
    cursor: pointer;
  }
}

@layer social {
  .social > .container {
    background-image: linear-gradient(
      111.4deg,
      rgba(7, 7, 9, 1) 6.5%,
      rgba(27, 24, 113, 1) 93.2%
    );
    background: linear-gradient(
        to bottom,
        #323232 0%,
        #3f3f3f 40%,
        #1c1c1c 150%
      ),
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.25) 200%
      );
    background-blend-mode: multiply;
    background-color: var(--black);
    background-repeat: no-repeat;
    padding: 4rem 4rem;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container a {
    text-decoration: none;
  }

  .container a:active {
    text-decoration: none;
  }

  .container a:hover {
    text-decoration: none;
  }

  .social-icon {
    border: 2px solid var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  .font-awesome {
    color: var(--light-blue);
  }

  .font-awesome:hover {
    color: var(--white);
  }
}
